In [3]:
import pandas as pd

#1. Extract independent variables from the dataset
#2. Extract dependent variable from the dataset

# Load the dataset (replace 'dataset.csv' with your dataset path)
df = pd.read_csv('Housing.csv')

# Assuming the column names are known or can be inspected from the dataset
# Independent variables (features)
independent_variables = df[['date', 'bedrooms','floors','view','condition','grade']]

# Dependent variable (target)
dependent_variable = df['sqft_living15']

# Example of accessing these variables
print("Independent Variables:")
print(independent_variables.head())

print("\nDependent Variable:")
print(dependent_variable.head())

Independent Variables:
              date  bedrooms  floors  view  condition  grade
0  20141013T000000         2     1.0     0          3      7
1  20141209T000000         3     2.0     0          3      7
2  20150225T000000         2     1.0     0          3      6
3  20141209T000000         4     1.0     0          5      7
4  20150218T000000         3     1.0     0          3      8

Dependent Variable:
0    1340
1    1690
2    2720
3    1360
4    1800
Name: sqft_living15, dtype: int64

In [6]:
#3. Perform Label encoding of the categorical data in the dataset
import pandas as pd
from sklearn.preprocessing import LabelEncoder
data = {'color': ['red', 'green', 'blue', 'red']}
df = pd.DataFrame(data)
encoder = LabelEncoder()
df['color_encoded'] = encoder.fit_transform(df['color'])
print(df)

   color  color_encoded
0    red              2
1  green              1
2   blue              0
3    red              2

In [16]:
#4. Perform One-hot encoding of the categorical data in the dataset and convert to
#numerical data
data = {'Index': [0,1,2,3,4],'Animal':['Dog','Cat','Sheep','Horse','Lion']}
df = pd.DataFrame(data)
one_hot=pd.get_dummies(df)
print(one_hot)

   Index  Animal_Cat  Animal_Dog  Animal_Horse  Animal_Lion  Animal_Sheep
0      0           0           1             0            0             0
1      1           1           0             0            0             0
2      2           0           0             0            0             1
3      3           0           0             1            0             0
4      4           0           0             0            1             0

In [18]:
#5. Split the arrays of the dataset into random train and test subsets. The code should
#output:
#x_train – features for the training data
#x_test – features for the test data
#y_train – dependent variables for training data
#y_test – independent variable for testing data

data = {'Index': [0, 1, 2, 3, 4],
        'Animal': ['Dog', 'Cat', 'Sheep', 'Horse', 'Lion'],
        'Color': ['Black', 'White', 'White', 'Brown', 'Orange']}
df = pd.DataFrame(data)
x = df[['Index', 'Animal']]
y = df['Color']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)
print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)
print("\nTraining Features:")
print(x_train)
print("\nTesting Features:")
print(x_test)
print("\nTraining Target:")
print(y_train)
print("\nTesting Target:")
print(y_test)

x_train shape: (3, 2)
x_test shape: (2, 2)
y_train shape: (3,)
y_test shape: (2,)

Training Features:
   Index Animal
2      2  Sheep
0      0    Dog
3      3  Horse

Testing Features:
   Index Animal
1      1    Cat
4      4   Lion

Training Target:
2    White
0    Black
3    Brown
Name: Color, dtype: object

Testing Target:
1     White
4    Orange
Name: Color, dtype: object

In [33]:
#6. Perform Min Max normalization over a data.
data = {'Index': [0, 1, 2, 3, 4],
        'Age':[25,20,19,90,100],
        'Salary':[19000,10000,154100,154160,156000]}
df = pd.DataFrame(data)
column_to_normalize = 'Age'
column_min = df[column_to_normalize].min()
column_max = df[column_to_normalize].max()
df['Age_normalized'] = (df[column_to_normalize] - column_min) / (column_max - column_min)
print("DataFrame after min-max normalization:")
print(df)

DataFrame after min-max normalization:
   Index  Age  Salary  Age_normalized
0      0   25   19000        0.074074
1      1   20   10000        0.012346
2      2   19  154100        0.000000
3      3   90  154160        0.876543
4      4  100  156000        1.000000

In [32]:
column_to_normalize = 'Salary'
column_min = df[column_to_normalize].min()
column_max = df[column_to_normalize].max()
df['Salary_normalized'] = (df[column_to_normalize] - column_min) / (column_max - column_min)
print("DataFrame after min-max normalization:")
print(df)

DataFrame after min-max normalization:
   Index  Age  Salary  Age_normalized  Salary_normalized
0      0   25   19000        0.074074           0.061644
1      1   20   10000        0.012346           0.000000
2      2   19  154100        0.000000           0.986986
3      3   90  154160        0.876543           0.987397
4      4  100  156000        1.000000           1.000000

In [34]:
from sklearn.preprocessing import MinMaxScaler
column_to_normalize = 'Age'
scaler = MinMaxScaler()
df['Age_normalized'] = scaler.fit_transform(df[[column_to_normalize]])
print("DataFrame after min-max normalization (using MinMaxScaler):")
print(df)

DataFrame after min-max normalization (using MinMaxScaler):
   Index  Age  Salary  Age_normalized
0      0   25   19000        0.074074
1      1   20   10000        0.012346
2      2   19  154100        0.000000
3      3   90  154160        0.876543
4      4  100  156000        1.000000

In [35]:
#7. Standardize the independent variables of a dataset within a specific range (Use Z-
#Score)
data = {'Index': [0, 1, 2, 3, 4],
        'Age':[25,20,19,90,100],
        'Salary':[19000,10000,154100,154160,156000]}
df = pd.DataFrame(data)

z_scale=df.copy()
for column in z_scale.columns:
    z_scale[column]=(z_scale[column]-z_scale[column].mean())/z_scale[column].std()
display(z_scale)

      Index       Age    Salary
0 -1.264911 -0.635981 -1.035927
1 -0.632456 -0.759234 -1.152978
2  0.000000 -0.783884  0.721138
3  0.632456  0.966297  0.721918
4  1.264911  1.212802  0.745849

In [37]:
#8. Replace missing data with its mean value

import numpy as np
data = {'Index': [0, 1, 2,None, 4],
        'Age':[25,20,19,90,None],
        'Salary':[19000,None,154100,None,156000]}
df = pd.DataFrame(data)
df.replace(0,np.nan,inplace=True)
mean_values=df.mean()
df.fillna(mean_values,inplace=True)
print(df)

      Index   Age    Salary
0  2.333333  25.0   19000.0
1  1.000000  20.0  109700.0
2  2.000000  19.0  154100.0
3  2.333333  90.0  109700.0
4  4.000000  38.5  156000.0